{% load static %}
	<!-- Core JavaScript Files -->
    <script src="{% static 'js/jquery.min.js'%}"></script>
	<script src="{% static 'js/bootstrap.min.js'%}"></script>
	<script src="{% static 'js/acounts.js'%}"></script>
    <script src="{% static 'js/jquery.easing.min.js'%}"></script>
	<script src="{% static 'js/wow.min.js'%}"></script>
	<script src="{% static 'js/jquery.scrollTo.js'%}"></script>
	<script src="{% static 'js/jquery.appear.js'%}"></script>
	<script src="{% static 'js/stellar.js'%}"></script>
	<script src="{% static 'plugins/cubeportfolio/js/jquery.cubeportfolio.min.js'%}"></script>
	<script src="{% static 'js/owl.carousel.min.js'%}"></script>
	<script src="{% static 'js/nivo-lightbox.min.js'%}"></script>
    <script src="{% static 'js/custom.js'%}"></script>
	<script src="{% static 'js/minm.js'%}"></script>
	<script src="{% static 'js/mainn.js'%}"></script>
    <script src="{% static 'file_upload_files/jquery.fileuploader.min.js'%}" type="text/javascript"></script>
	<script src="{% static 'file_upload_files/custom.js'%}" type="text/javascript"></script>