{% extends 'base.html' %}
{% load static%}
{% block content %}

		<!-- Section: services -->
    <section id="servicee" class="home-section nopadding " style="margin-top: 10px;">

		<div class="container-contact100">
			<div class="wrap-contact100">
				<form class="contact100-form validate-form">
					<span class="contact100-form-title " style="margin-top: 60px;">
						CheckUp Symptoms

					</span>
	

					<label class="label-input100" for="message"style="padding-left:20px;font-size: 20px"> Symptoms *<br></label>
					<div class="wrap-input100 validate-input" data-validate = "Message is required">
					

					<label class="form-check-label" style="padding-left:10px">
                    <input type="checkbox" class="form-check-input" name="a"> 
                    Frequent headaches
                    </label><br>


                    <label class="form-check-label" style="padding-left:10px">
                    <input type="checkbox" class="form-check-input" name="b"> 
                    Dizziness or unsteadiness
                    </label><br>
                    


                    <label class="form-check-label" style="padding-left:10px">
                    <input type="checkbox" class="form-check-input" name="c"> 
                    Unexplained nausea or vomiting
                    </label><br>


                    <label class="form-check-label" style="padding-left:10px">
                    <input type="checkbox" class="form-check-input" name="d"> 
                    Visual disturbance, such as blurred, double or loss of peripheral vision
                    </label><br>


                    <label class="form-check-label" style="padding-left:10px">
                    <input type="checkbox" class="form-check-input" name="e"> 
                    Seizures
                    </label><br>


                    <label class="form-check-label"style="padding-left:10px">
                    <input type="checkbox" class="form-check-input" name="f"> 
                    Difficulty with balance
                    </label><br>


                    <label class="form-check-label" style="padding-left:10px">
                    <input type="checkbox" class="form-check-input" name="g"> 
                    Speech difficulties
                    </label><br>



                    <label class="form-check-label" style="padding-left:10px">
                    <input type="checkbox" class="form-check-input" name="h" > 
                    Confusion in everyday matters
                    </label><br>


                    <label class="form-check-label" style="padding-left:10px">
                    <input type="checkbox" class="form-check-input" name="i"> 
                    Personality or behavior changes
                    </label><br>



                    <label class="form-check-label" style="padding-left:10px">
                    <input type="checkbox" class="form-check-input" name="j"> 
                    Weakness or paralysis
                    </label><br>



                    <label class="form-check-label" style="padding-left:10px">
                    <input type="checkbox" class="form-check-input" name="k"> 
                    Hearing problems
                    </label><br>
	                
	               

					<span class="focus-input100"></span>
					</div>


					<div><br>If you or someone you care about experiences any of these symptom, please consult your doctor.<br>information is provided for education only. </div>

					<div class="container-contact100-form-btn">
						<button class="contact100-form-btn">
							Send 
						</button>
					</div>
					
				</form>


				<div class="contact100-more flex-col-c-m" style="background-image: url('{% static 'img/bg-02.jpg'%}');">
					<div class="flex-w size1 p-b-47">
						<div class="txt1 p-r-25"></div>
										
	<div class="flex-col size2">
		<span class="txt1 p-b-20">Brain Tumor Signs and Symptoms:<br></span>

	
				<span class="txt2">The signs and symptoms of a brain tumour vary greatly and depend on the brain tumor's size, location and rate of growth.<br><br><br><br><br>checkup the most commom signs and symptomsassociated with brain tumours can help in early diagnosis and treatment.  </span><br>
						
					
</span></div>
					
	
	
		<div id="dropDownSelect1"></div>
</section>


	{% endblock %}