{% extends 'base.html' %}
{% load static%}
{% block content %}

     <div class="nursee" style="margin-top: 70px; padding-top: 50px ;padding-bottom: 50px ; background-color: #FFF" >
         <div class="container">
             <h1 id="demotext" class="text-center">choose your nurse</h1>
             
            <div class="row">
               
               
                <div class="card col-md-3">
                    <div class="img-cover"><img
                            src="{% static 'img/nurses/n1.jpg'%}">
                        <div class="icon"><svg width="23" height="16" viewBox="0 0 15 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="black"
                                    stroke-width="3" />
                            </svg>
                        </div>
                    </div>
            
                    <div class="desc">
                        <h1>aya</h1>
                        <p> beautiful girl from england , work with genous doctors in the world , she can stay with patient</p> 
                        <a  href="">NURSE INFO <svg width="19" height="14" viewBox="0 0 23 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="white"
                                    stroke-width="3" />
                            </svg></a>
                    </div>
                </div>
                <div class="card col-md-3">
                    <div class="img-cover"><img
                            src="{% static 'img/nurses/n2.jpg'%}">
                        <div class="icon"><svg width="23" height="16" viewBox="0 0 15 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="black"
                                    stroke-width="3" />
                            </svg>
                        </div>
                    </div>
            
                    <div class="desc">
                        <h1>omnia</h1>
                        <p> beautiful girl from england , work with genous doctors in the world , she can stay with patient</p> 
                        <a  href="">NURSE INFO <svg width="19" height="14" viewBox="0 0 23 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="white"
                                    stroke-width="3" />
                            </svg></a>
                    </div>
                </div>
                <div class="card col-md-3">
                    <div class="img-cover"><img
                            src="{% static 'img/nurses/n3.jpg'%}">
                        <div class="icon"><svg width="23" height="16" viewBox="0 0 15 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="black"
                                    stroke-width="3" />
                            </svg>
                        </div>
                    </div>
            
                    <div class="desc">
                        <h1>nadia</h1>
                        <p> beautiful girl from england , work with genous doctors in the world , she can stay with patient</p> 
                        <a  href="">NURSE INFO <svg width="19" height="14" viewBox="0 0 23 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="white"
                                    stroke-width="3" />
                            </svg></a>
                    </div>
                </div>
                <div class="card col-md-3  ml-1">
                    <div class="img-cover"><img
                            src="{% static 'img/nurses/n4.jpg'%}">
                        <div class="icon"><svg width="23" height="16" viewBox="0 0 15 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="black"
                                    stroke-width="3" />
                            </svg>
                        </div>
                    </div>
            
                    <div class="desc">
                        <h1>yara</h1>
                        <p> beautiful girl from england , work with genous doctors in the world , she can stay with patient</p> 
                        <a  href="">NURSE INFO <svg width="19" height="14" viewBox="0 0 23 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="white"
                                    stroke-width="3" />
                            </svg></a>
                    </div>
                </div>
                <div class="card col-md-3 m-1">
                    <div class="img-cover"><img
                            src="{% static 'img/nurses/n5.jpg'%}">
                        <div class="icon"><svg width="23" height="16" viewBox="0 0 15 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="black"
                                    stroke-width="3" />
                            </svg>
                        </div>
                    </div>
            
                    <div class="desc">
                        <h1>yosra</h1>
                        <p> beautiful girl from england , work with genous doctors in the world , she can stay with patient</p> 
                        <a  href="">NURSE INFO <svg width="19" height="14" viewBox="0 0 23 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="white"
                                    stroke-width="3" />
                            </svg></a>
                    </div>
                </div>
                <div class="card col-md-3 m-1">
                    <div class="img-cover"><img
                            src="{% static 'img/nurses/n6.jpg'%}">
                        <div class="icon"><svg width="23" height="16" viewBox="0 0 15 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="black"
                                    stroke-width="3" />
                            </svg>
                        </div>
                    </div>
            
                    <div class="desc">
                        <h1>sara</h1>
                        <p> beautiful girl from england , work with genous doctors in the world , she can stay with patient</p> 
                        <a  href="">NURSE INFO <svg width="19" height="14" viewBox="0 0 23 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="white"
                                    stroke-width="3" />
                            </svg></a>
                    </div>
                </div>
                <div class="card col-md-3 m-1">
                    <div class="img-cover"><img
                            src="{% static 'img/nurses/n7.jpg'%}">
                        <div class="icon"><svg width="23" height="16" viewBox="0 0 15 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="black"
                                    stroke-width="3" />
                            </svg>
                        </div>
                    </div>
            
                    <div class="desc">
                        <h1>mai</h1>
                        <p> beautiful girl from england , work with genous doctors in the world , she can stay with patient</p> 
                        <a  href="">NURSE INFO <svg width="19" height="14" viewBox="0 0 23 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="white"
                                    stroke-width="3" />
                            </svg></a>
                    </div>
                </div>
                <div class="card col-md-3 m-1">
                    <div class="img-cover"><img
                            src="{% static 'img/nurses/n8.jpg'%}">
                        <div class="icon"><svg width="23" height="16" viewBox="0 0 15 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="black"
                                    stroke-width="3" />
                            </svg>
                        </div>
                    </div>
            
                    <div class="desc">
                        <h1>nadine</h1>
                        <p> beautiful girl from england , work with genous doctors in the world , she can stay with patient</p> 
                        <a  href="">NURSE INFO <svg width="19" height="14" viewBox="0 0 23 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="white"
                                    stroke-width="3" />
                            </svg></a>
                    </div>
                </div>
            </div>
            
          </div>
     </div>

{% endblock %}
	




